// Colourscheme
$paris-daisy: #ffe963;
$bittersweet: #ff6d6d;
$monte-carlo: #8ad0ce;
$sea-green: #6ea6a4;
$river-bed: #4b595e;

// Monotones
$shark: #1e2325;
$alabastor: #fbfbfb;

// Exported names
$accentPrimaryColor: $paris-daisy;
$accentSecondaryColor: $bittersweet;
$blackMono: $shark; 
$primaryColor: $monte-carlo;
$secondaryColor: $sea-green;
$tertiaryColor: $river-bed;
$whiteMono: $alabastor;

// Sizes
$base-spacing: 8px;
$base-font-size: 16px; 
 
:export {
  accentPrimaryColor: $accentPrimaryColor;
  accentSecondaryColor: $accentSecondaryColor;
  blackMono: $blackMono; 
  primaryColor: $primaryColor;
  secondaryColor: $secondaryColor;
  tertiaryColor: $tertiaryColor;
  whiteMono: $whiteMono;
}