@import '../../styles/variables.module.scss';

.footer__author {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.footer__author-icon {
  margin-right: $base-spacing;
}

.footer__author-spacer {
  margin: 0 $base-spacing;
}